@model lab3.Models.customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="justify-content: center; display: flex; margin-top: 30px;">
    <div class="col-md-5">
        <h2 class="text-center" style="font-weight:bold; color:#2c3e50;">LOGIN</h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group" style="margin-bottom: 15px;">
                    <label class="control-label" style="font-weight: bold;">Username:</label>
                    <div>
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter username", required = "required" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label class="control-label" style="font-weight: bold;">Password:</label>
                    <div>
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Enter password", required = "required" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (ViewBag.ThongBao != null)
                {
                    <div class="alert alert-danger" style="color: red; font-weight: bold; margin-bottom: 15px;">
                        @ViewBag.ThongBao
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" style="width: 100%; font-weight: bold;" />
                </div>
            </div>
        }
    </div>
</div>