@model lab3.Models.book
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #cd1818; font-weight: bold; margin-bottom: 20px;">THÊM SÁCH MỚI</h2>

@using (Html.BeginForm("Create", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.book_name, "Tên sách", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publishers_id, "Mã NXB", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publishers_id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @* --- PHẦN HÌNH ẢNH --- *@
        <div class="form-group">
            @Html.LabelFor(model => model.image, "Ảnh bìa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", @id = "image" } })

                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                <input type="button" id="btnUpload" value="Chọn ảnh" class="btn btn-success" style="margin-top:5px;" />

                <br />
                <img src="" id="pictureUpload" width="200" style="margin-top:10px; border:1px solid #ddd;" class="img-thumbnail" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, "Giá tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.update_date, "Ngày cập nhật", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.update_date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantity_instock, "Số lượng tồn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity_instock, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu Sách" class="btn btn-danger" style="background-color: #cd1818;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>

@section upload {
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });

            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ProcessUpload", "Book")',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            if (urlImage != "") {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#image').val(urlImage);
                            } else {
                                alert("Upload thất bại!");
                            }
                        },
                        error: function (err) {
                            alert("Có lỗi xảy ra: " + err.statusText);
                        }
                    });
                }
            });
        });
    </script>
}